* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: grey;
  background-image: url(../img/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  width: 100%;
  margin-top: 25px;
  padding-top: 15px;
  text-align: center;
  background-color: white;
  background-color: rgba( 255, 255, 255, .8);
  font-family: Galdeano, sans-serif;
  font-size: 46px;
  text-shadow: 1px 1px 2px grey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.signature {
  text-align: center;
  padding: 10px 0 20px;
  font-size: 15px;
  background-color: white;
  background-color: rgba( 255, 255, 255, .8);
}

.players {
  width: 50%;
  min-width: 290;
  max-width: 600px;
  margin: 40px auto;
  height: 34px;
}

.players p {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  position: absolute;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: white;
  background-color: rgba(255, 255, 255, .6);
  font-size: 16px;
}

.visible-border {
  border: 2px solid black;
}

.player-one {
  left: 0;
}

.player-two {
  right: 0;
}

.container, .players {
  border: 2px solid transparent;
  position: relative; 
  width: 50%;
  min-width: 290px;
  max-width: 600px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container {
  background-color: rgba(255, 255, 255, .8);
  overflow: auto;
  margin: 2px auto;
  border-radius: 5px;
}

.horizontal-line {
  position: absolute;
  width: 99%;
  border: .5px solid black;
  top: 33.3%;
  left: .5%;
}

.horizontal-line-two {
  top: 66.6%;
}

.vertical-line {
  position: absolute;
  height: 99%;
  border: .5px solid black;
  top: .5%;
  left: 33.3%;
}

.vertical-line-two {
  left: 66.6%;
}

.box{
  position: relative;
  width: 33.3%;
  float: left;
}

.box:hover {
  cursor: pointer;
}

.box:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.box img {
  width: 70%;
  height: 75%;
  position: absolute;
  top: 12%;
  left: 15%;
  display: none;
}